body{
	margin: 0;
	min-height: 100vh;
	background-color: #008c85;
	display: flex;
	justify-content: center;
	align-content: center;
	
}

h1{
	position: absolute;
	color: #51ed94;
	font-size: 70px;
	top: 20px;
	font-family: 'papyrus', fantasy;
	color: rgba(0,0,0,.6);
	
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}




.game-container{
	margin: auto;
	height: 800px;
	width: 1200px;
	background-color: #ed6351;
	border: 3px solid #451e27;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-content: center;

}


.grid-screen{
	margin: auto;
	height: 600px;
	width: 900px;
	background-color: #e8e8e8;
	border: 1px solid #451e27;
	border-radius: 10px;
}




.cell{
    background-color: #fff;
	border: 1px solid black;
	
}

.grid{
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: #fff;
   
}


.grid2{
	padding: 0;
    margin: 0;
	margin-top: 50px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	height: 57px;
    width: 57px;
    flex-wrap: nowrap;
	
	
	background-color: green;
	
}
