body{
	margin: 0;
	min-height: 100vh;
	background-color: #008c85;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

h1{
	flex: 1;
	color: #51ed94;
	font-size: 70px;
	top: 20px;
	font-family: 'papyrus', fantasy;
	color: rgba(0,0,0,.6);
	
	text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}


.game-container{
	margin: auto;
	height: 800px;
	width: 1200px;
	background-color: #ed6351;
	border: 3px solid #451e27;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.board{
	height: 500px;
	width: 450px;
	display: grid;
	border: 1px solid black;
	margin-bottom: 150px;
	

}




.cell{
    background-color: #fff;
	border: 1px solid black;	
	
}
.size-input{
	margin: 0;
}
#size-input{
	width: 50px;
}
.select-btn{
	position: relative;
	right: 5px;
}
#message{
	flex:1;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.controls-container{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 500px;
	align-items: center;
	position: relative;
	bottom: 100px;

}